<div class="todo">
  <div class="todo-state">
    <i
      [ngClass]="{
        'fa fa-check-square todo-done': todo.state == 'done',
        'far fa-square todo-ongoing': todo.state == 'ongoing',
        'fas fa-minus-square todo-cancelled': todo.state == 'cancelled'
      }"
    ></i>
  </div>
  <div class="content-holder">
    <div
      contenteditable="true"
      class="todo-content"
      [ngClass]="todo.state == 'cancelled' ? 'dim' : ''"
    >
      {{ todo.contents }}
    </div>
    <div class="todo-tag-list" *ngIf="todo.tags.length">
      <div class="todo-tag" *ngFor="let tag of todo.tags">
        {{ tag }}
        <i class="tag-close fa fa-times"></i>
      </div>
      <div class="todo-tag-add"><i class="fa fa-plus"></i></div>
    </div>
  </div>
  <div class="todo-bin">
    <i
      [ngClass]="
        todo.state == 'cancelled' ? 'fas fa-recycle' : 'fas fa-trash-alt'
      "
    ></i>
  </div>
</div>

<!-- <div class="todo" *ngIf="todo">
  <div>id: {{ todo.id }}</div>
  <div>Content: {{ todo.contents }}</div>
  <div>State: {{ todo.state }}</div>
  <div>Tags: {{ todo.tags }}</div>

  <div>Created at: {{ todo.createdAt }}</div>
  <div>Updated at: {{ todo.updatedAt }}</div>
  <div>State updated at: {{ todo.stateUpdatedAt }}</div>
</div> -->
